{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
    <div>
        {% if messages %}
        <!-- Showing message to user -->
            <div class="inner-content-products col-9 col-md-8 alert alert-danger">
                <div class="messages">
                    {% for message in messages %}
                        <strong>{{ message }}</strong>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>

This is the page of  {{ user }}!
Profile {{ profile }}

        <article class="row no-gutters">
            <div class="col-12">
                <h1 id="plan">Plan uw verblijf</h1>
                <p>Geniet alvast van tevoren en benut uw tijd optimaal met deze planner. Per bestemming treft u een overzicht en de locatie van de belangrijkste toeristische attracties en handige adressen. Daarnaast stellen wij u onze eigen selectie van hotels en restaurants aan u voor. Alle zijn door ons persoonlijk getest en aangeraden. Doe uw voordeel met deze tips!
                    <br/><br/>
                    <strong>Verken:</strong>
                </p>
            </div>
        </article>

            <div class="row">
                <div class="col-6 ">
                    <h2 class="scroll-to" href="#lima-intro" id="lima-nav">Lenting!!!</h2>
                </div>
            </div>
            

{% endblock %}
