{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
    <div>
        {% if messages %}
        <!-- Showing message to user -->
            <div class="inner-content-products col-9 col-md-8 alert alert-danger">
                <div class="messages">
                    {% for message in messages %}
                        <strong>{{ message }}</strong>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>

This is the page of  {{ user }}!
Profile {{ profile }}

        <article class="row no-gutters">
            <div class="col-12">
                <h1 id="plan">Plan uw verblijf</h1>
                <p>Geniet alvast van tevoren en benut uw tijd optimaal met deze planner. Per bestemming treft u een overzicht en de locatie van de belangrijkste toeristische attracties en handige adressen. Daarnaast stellen wij u onze eigen selectie van hotels en restaurants aan u voor. Alle zijn door ons persoonlijk getest en aangeraden. Doe uw voordeel met deze tips!
                    <br/><br/>
                    <strong>Verken:</strong>
                </p>
            </div>
        </article>

            <div class="row">
                <div class="col-6 ">
                    <h2 class="scroll-to" href="#lima-intro" id="lima-nav">Lima
                    <img src="/media/naturandes/lima.jpg" alt="De wijk Miraflores in Lima" class="hoofdbeeld-links"></h2>
                </div>
                <div class="col-6 ">
                    <h2 class="scroll-to" href="#arequipa-intro" id="arequipa-nav">Arequipa<img alt="Het stadsplein van Arequipa" class="hoofdbeeld-rechts" src="/media/naturandes/arequipa.jpg"></h2>
                </div>
                <div class="col-6">
                    <h2 class="scroll-to" href="#puno-intro" id="puno-nav">Puno<img alt="Het Titicacameer, Puno" class="hoofdbeeld-links" src="/media/naturandes/puno.jpg"></h2>
                </div>
                <div class="col-6">
                    <h2 class="scroll-to" href="#cusco-intro" id="cusco-nav">Cusco<img alt="Inheemse Quechua-bevolking in Cusco" class="hoofdbeeld-rechts" src="/media/naturandes/cusco.jpg"></h2>
                </div>
            </div>

            <br> <br>

            <article class="row no-gutters" id="lima-intro">
                <div class="col">
                    <button class="reset">Verken andere stad</button>
                    <button class="whereAmI">Toon mijn locatie</button>
                    <h2>Lima</h2>
                    <h3>Restaurants van wereldfaam!</h3>
                    <p>U vliegt vanuit Europa op Lima. Vanwege slechte aansluitingen van binnenlandse vluchten zult u zowel aan het begin als aan het eind van uw reis een nacht in Peru's hoofdstad verblijven. Geen straf, want hier vindt u enkele restaurants van wereldfaam!</p>
                </div>

                <div class="row no-gutters categories">
                    <div class="col choose" id="lima-attracties-header"><img alt="attracties" class="choose-image" src="https://img.icons8.com/color/24/000000/old-time-camera.png"><h4>Attracties</h4></div>
                    <div class="col choose" id="lima-hotels-header"><img alt="hotels" class="choose-image" src="https://img.icons8.com/color/24/000000/hotel-information.png"><h4>Hotels</h4></div>
                    <div class="col choose" id="lima-restaurants-header"><img alt="restaurants" class="choose-image" src="https://img.icons8.com/color/24/000000/dining-room.png"><h4>Restaurants</h4></div>
                    <div class="col choose" id="lima-info-header"><img alt="praktische informatie" class="choose-image" src="https://img.icons8.com/color/24/000000/information.png"><h4>Informatie</h4></div>
                </div>

                <div class="row no-gutters">
                    <div class="col-md-4 lima-attracties">
                        <img alt="attracties" class="chosen-image" src="https://img.icons8.com/color/24/000000/old-time-camera.png"><span class="chosen-header">Attracties</span>
                        <ul>
                            <li><a href="#lima-map" onclick="clickLima(0);">Larcomar</a></li>
                            <li><a href="#lima-map" onclick="clickLima(1);">Barranco</a></li>
                            <li><a href="#lima-map" onclick="clickLima(2);">Museo Larco</a></li>
                            <li><a href="#lima-map" onclick="clickLima(3);">Plaza Mayor</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4 lima-hotels">
                        <img alt="hotels" class="chosen-image" src="https://img.icons8.com/color/24/000000/hotel-information.png"><span class="chosen-header">Hotels</span>
                        <ul>
                            <li><a href="#lima-map" onclick="clickLima(4);">Casa Wayra</a></li>
                            <li><a href="#lima-map" onclick="clickLima(5);">Hotel Mariel</a></li>
                            <li><a href="#lima-map" onclick="clickLima(6);">Second Home</a></li>
                            <li><a href="#lima-map" onclick="clickLima(7);">Atemporal</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4 lima-restaurants">
                        <img alt="hotels" class="chosen-image" src="https://img.icons8.com/color/24/000000/dining-room.png"><span class="chosen-header">Restaurants</span>
                        <ul>
                            <li><a href="#lima-map" onclick="clickLima(8);">Mangos</a></li>
                            <li><a href="#lima-map" onclick="clickLima(9);">El Muelle</a></li>
                            <li><a href="#lima-map" onclick="clickLima(10);">Astrid y Gastón</a></li>
                            <li><a href="#lima-map" onclick="clickLima(11);">Restaurante Central</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4 lima-info">
                        <img alt="praktische informatie" class="chosen-image" src="https://img.icons8.com/color/24/000000/information.png"><span class="chosen-header">Praktische adressen</span>
                        <ul>
                            <li><a href="#lima-map" onclick="clickLima(12);">luchthaven</a></li>
                            <li><a href="#lima-map" onclick="clickLima(13);">bank BCP Miraflores</a></li>
                            <li><a href="#lima-map" onclick="clickLima(14);">bank BCP Barranco</a></li>
                            <li><a href="#lima-map" onclick="clickLima(15);">Clínica Ricardo Palma</a></li>
                            <li><a href="#lima-map" onclick="clickLima(16);">toeristenpolitie</a></li>
                        </ul>
                    </div>

                    <div class="col big-map" id="lima-map"></div>
                </div>
            </article>

            <article class="row no-gutters" id="puno-intro">
                <div class="col">
                    <button class="reset">Verken andere stad</button>
                    <button class="whereAmI">Toon mijn locatie</button>
                    <h2>Puno</h2>
                    <h3>In het hart van de Andes</h3>
                    <p>Puno heeft geen grote toeristische attracties, maar het straatbeeld maakt veel goed: u zult merken dat de bevolking veel traditioneler is dan in Arequipa of Lima. Struin eens rond in de marktstraatjes, of laat u rondrijden in een fietstaxi. Nu bent u echt in de Andes beland!<br><br>
                        Echte publiekstrekkers liggen buiten de stad: het Titicacameer, met traditionele eilanden waar de tijd lijkt te hebben stilgestaan, of het enigmatische Sillustani.</p>
                </div>

                <div class="row no-gutters categories">
                    <div class="col choose" id="puno-attracties-header"><img alt="attracties" class="choose-image" src="https://img.icons8.com/color/24/000000/old-time-camera.png"><h4>Attracties</h4></div>
                    <div class="col choose" id="puno-hotels-header"><img alt="hotels" class="choose-image" src="https://img.icons8.com/color/24/000000/hotel-information.png"><h4>Hotels</h4></div>
                    <div class="col choose" id="puno-restaurants-header"><img alt="restaurants" class="choose-image" src="https://img.icons8.com/color/24/000000/dining-room.png"> <h4>Restaurants</h4></div>
                    <div class="col choose" id="puno-info-header"><img alt="praktische informatie" class="choose-image" src="https://img.icons8.com/color/24/000000/information.png"><h4>Informatie</h4></div>
                </div>

                <div class="row no-gutters">
                    <div class="col-md-4 puno-attracties">
                        <img alt="attracties" class="chosen-image" src="https://img.icons8.com/color/24/000000/old-time-camera.png"><span class="chosen-header">Attracties</span>
                        <ul>
                            <li><a href="#puno-map" onclick="clickPuno(0);">Plaza de Armas</a></li>
                            <li><a href="#puno-map" onclick="clickPuno(1);">Uros-eilanden</a></li>
                            <li><a href="#puno-map" onclick="clickPuno(2);">Taquile</a></li>
                            <li><a href="#puno-map" onclick="clickPuno(3);">Sillustani</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4 puno-hotels">
                        <img alt="hotels" class="chosen-image" src="https://img.icons8.com/color/24/000000/hotel-information.png"><span class="chosen-header">Hotels</span>
                        <ul>
                            <li><a href="#puno-map" onclick="clickPuno(4);">Hotel Intiqa</a></li>
                            <li><a href="#puno-map" onclick="clickPuno(5);">La Hacienda Plaza de Armas</a></li>
                            <li><a href="#puno-map" onclick="clickPuno(6);">Casa Andina Premium Lago</a></li>
                            <li><a href="#puno-map" onclick="clickPuno(7);">Sonesta Posada del Inca</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4 puno-restaurants">
                        <img alt="hotels" class="chosen-image" src="https://img.icons8.com/color/24/000000/dining-room.png"><span class="chosen-header">Restaurants</span>
                        <ul>
                            <li><a href="#puno-map" onclick="clickPuno(8);">Mojsa</a></li>
                            <li><a href="#puno-map" onclick="clickPuno(9);">Tradiciones del Lago</a></li>
                            <li><a href="#puno-map" onclick="clickPuno(10);">Giorgio</a></li>
                            <li><a href="#puno-map" onclick="clickPuno(11);">La Table del Inca</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4 puno-info">
                        <img alt="praktische informatie" class="chosen-image" src="https://img.icons8.com/color/24/000000/information.png"><span class="chosen-header">Praktische adressen</span>
                        <ul>
                            <li><a href="#puno-map" onclick="clickPuno(12);">busterminal</a></li>
                            <li><a href="#puno-map" onclick="clickPuno(13);">bank BCP</a></li>
                            <li><a href="#puno-map" onclick="clickPuno(14);">Medicentro Tourist Health</a></li>
                            <li><a href="#puno-map" onclick="clickPuno(15);">toeristenpolitie</a></li>
                        </ul>
                    </div>

                    <div class="col big-map" id="puno-map"></div>
                </div>
            </article>

            <article class="row no-gutters" id="arequipa-intro">
                <div class="col">
                    <button class="reset">Verken andere stad</button>
                    <button class="whereAmI">Toon mijn locatie</button>
                    <h2>Arequipa</h2>
                    <h3>Acclimatiseren in een oase</h3>
                    <p>Arequipa, gelegen op 2400 meter boven zeeniveau, is een prima plek om enkele dagen te verblijven om te acclimatiseren voordat u naar nog grotere hoogte reist: schoon, vrolijk en de zon schijnt er vrijwel altijd. “De Witte Stad” wordt gedomineerd door de vulkanen El Misti (5825 meter) en Chachani (6075 meter) en heeft een volkomen ander straatbeeld dan bijvoorbeeld Puno en Cusco. De binnenstad is opgenomen op de Werelderfgoedlijst. U treft er prachtige architectuur, schitterende musea en prima restaurants.</p>
                </div>

                <div class="row no-gutters categories">
                    <div class="col choose" id="arequipa-attracties-header"><img alt="attracties" class="choose-image" src="https://img.icons8.com/color/24/000000/old-time-camera.png"><h4>Attracties</h4></div>
                    <div class="col choose" id="arequipa-hotels-header"><img alt="hotels" class="choose-image" src="https://img.icons8.com/color/24/000000/hotel-information.png"><h4>Hotels</h4></div>
                    <div class="col choose" id="arequipa-restaurants-header"><img alt="restaurants" class="choose-image" src="https://img.icons8.com/color/24/000000/dining-room.png"><h4>Restaurants</h4></div>
                    <div class="col choose" id="arequipa-info-header"><img alt="praktische informatie" class="choose-image" src="https://img.icons8.com/color/24/000000/information.png"><h4>Informatie</h4></div>
                </div>

                <div class="row no-gutters">
                    <div class="col-md-4 arequipa-attracties">
                        <img alt="attracties" class="chosen-image" src="https://img.icons8.com/color/24/000000/old-time-camera.png"><span class="chosen-header">Attracties</span>
                        <ul>
                            <li><a href="#arequipa-map" onclick="clickArequipa(0);">Plaza de Armas</a></li>
                            <li><a href="#arequipa-map" onclick="clickArequipa(1);">Monasterio de Santa Catalina</a></li>
                            <li><a href="#arequipa-map" onclick="clickArequipa(2);">Museo de Juanita</a></li>
                            <li><a href="#arequipa-map" onclick="clickArequipa(3);">Barrio de San Lázaro</a></li>
                            <li><a href="#arequipa-map" onclick="clickArequipa(4);">Mercado San Camilo</a></li>
                            <li><a href="#arequipa-map" onclick="clickArequipa(5);">El Misti & Chachani</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4 arequipa-hotels">
                        <img alt="hotels" class="chosen-image" src="https://img.icons8.com/color/24/000000/hotel-information.png"><span class="chosen-header">Hotels</span>
                        <ul>
                            <li><a href="#arequipa-map" onclick="clickArequipa(6);">Casa de Avila</a></li>
                            <li><a href="#arequipa-map" onclick="clickArequipa(7);">La Hosteria</a></li>
                            <li><a href="#arequipa-map" onclick="clickArequipa(8);">Casona Solar</a></li>
                            <li><a href="#arequipa-map" onclick="clickArequipa(9);">Katari Hotel</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4 arequipa-restaurants">
                        <img alt="hotels" class="chosen-image" src="https://img.icons8.com/color/24/000000/dining-room.png"><span class="chosen-header">Restaurants</span>
                        <ul>
                            <li><a href="#arequipa-map" onclick="clickArequipa(10);">Zig Zag</a></li>
                            <li><a href="#arequipa-map" onclick="clickArequipa(11);">Tradición Arequipeña</a></li>
                            <li><a href="#arequipa-map" onclick="clickArequipa(12);">Chicha</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4 arequipa-info">
                        <img alt="praktische informatie" class="chosen-image" src="https://img.icons8.com/color/24/000000/information.png"><span class="chosen-header">Praktische adressen</span>
                        <ul>
                            <li><a href="#arequipa-map" onclick="clickArequipa(13);">busterminal Cruz del Sur</a></li>
                            <li><a href="#arequipa-map" onclick="clickArequipa(14);">bank BCP</a></li>
                            <li><a href="#arequipa-map" onclick="clickArequipa(15);">kliniek</a></li>
                            <li><a href="#arequipa-map" onclick="clickArequipa(16);">toeristenpolitie</a></li>
                        </ul>
                    </div>

                    <div class="col big-map" id="arequipa-map"></div>
                </div>
            </article>

            <article class="row no-gutters" id="cusco-intro">
                <div class="col">
                    <button class="reset">Verken andere stad</button>
                    <button class="whereAmI">Toon mijn locatie</button>
                    <h2>Cusco</h2>
                    <h3>Antieke Inca-hoofstad</h3>
                    <p>De oudste, continu bewoonde stad van het continent, ook wel de archeologische hoofdstad van de Amerika’s genoemd, is een schitterende, intrigerende plek. U treft hier de ruïnes van Inca-paleizen direct naast schitterende koloniale kerken. Gelegen aan het uiteinde van een dal op ruim 3300 meter boven zeeniveau, is Cusco’s binnenstad verrassend intiem voor haar 300.000 inwoners. Alles belangrijke bezienswaardigheden zijn te voet te bereiken. We raden u de voorgestelde wandelroute van harte aan!<br><br>
                        Cusco is de uitvalbasis voor zowel tours en trektochten naar het wereldberoemde Machu Picchu als voor tochten naar het Amazone-regenwoud van Manu. Hier lopen zelfs nog ongecontacteerde indianenstammen rond!</p>
                </div>

                <div class="row no-gutters categories">
                    <div class="col choose" id="cusco-attracties-header"><img alt="attracties" class="choose-image" src="https://img.icons8.com/color/24/000000/old-time-camera.png"><h4>Attracties</h4></div>
                    <div class="col choose" id="cusco-hotels-header"><img alt="hotels" class="choose-image" src="https://img.icons8.com/color/24/000000/hotel-information.png"><h4>Hotels</h4></div>
                    <div class="col choose" id="cusco-restaurants-header"><img alt="restaurants" class="choose-image" src="https://img.icons8.com/color/24/000000/dining-room.png"><h4>Restaurants</h4></div>
                    <div class="col choose" id="cusco-info-header"><img alt="praktische informatie" class="choose-image" src="https://img.icons8.com/color/24/000000/information.png"><h4>Informatie</h4></div>
                </div>

                <div class="row no-gutters">
                    <div class="col-md-4 cusco-attracties">
                        <img alt="attracties" class="chosen-image" src="https://img.icons8.com/color/24/000000/old-time-camera.png"><span class="chosen-header">Attracties</span>
                        <ul>
                            <li><a href="#cusco-map" onclick="clickCusco(0);">Plaza de Armas</a></li>
                            <li><a href="#cusco-map" onclick="clickCusco(1);">Inca muur</a></li>
                            <li><a href="#cusco-map" onclick="clickCusco(2);">Barrio de San Blas</a></li>
                            <li><a href="#cusco-map" onclick="clickCusco(3);">Mercado de San Pedro</a></li>
                            <li><a href="#cusco-map" onclick="clickCusco(4);">Sacsaywamán</a></li>
                            <li><a href="#cusco-map" onclick="clickCusco(5);">de Heilige Vallei van de Inca's</a></li>
                            <li><a href="#cusco-map" onclick="clickCusco(6);">Machu Picchu</a></li>
                            <li><a href="#cusco-map" onclick="clickCusco(7);">Manu</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4 cusco-hotels">
                        <img alt="hotels" class="chosen-image" src="https://img.icons8.com/color/24/000000/hotel-information.png"><span class="chosen-header">Hotels</span>
                        <ul>
                            <li><a href="#cusco-map" onclick="clickCusco(8);">Inkarri Hostel</a></li>
                            <li><a href="#cusco-map" onclick="clickCusco(9);">Andenes al Cielo</a></li>
                            <li><a href="#cusco-map" onclick="clickCusco(10);">Niños Hotel I</a></li>
                            <li><a href="#cusco-map" onclick="clickCusco(11);">El Mercado</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4 cusco-restaurants"><img alt="hotels" class="chosen-image" src="https://img.icons8.com/color/24/000000/dining-room.png"><span class="chosen-header">Restaurants</span>
                        <ul>
                            <li><a href="#cusco-map" onclick="clickCusco(12);">Paddy's Irish Pub</a></li>
                            <li><a href="#cusco-map" onclick="clickCusco(13);">El Paisa</a></li>
                            <li><a href="#cusco-map" onclick="clickCusco(14);">Ciccciolina</a></li>
                            <li><a href="#cusco-map" onclick="clickCusco(15);">Marcelo Batata</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4 cusco-info">
                        <img alt="praktische informatie" class="chosen-image" src="https://img.icons8.com/color/24/000000/information.png"><span class="chosen-header">Praktische adressen</span>
                        <ul>
                            <li><a href="#cusco-map" onclick="clickCusco(16);">busterminal Cruz del Sur</a></li>
                            <li><a href="#cusco-map" onclick="clickCusco(17);">bank BCP</a></li>
                            <li><a href="#cusco-map" onclick="clickCusco(18);">Clínica Pardo</a></li>
                            <li><a href="#cusco-map" onclick="clickCusco(19);">toeristenpolitie</a></li>
                        </ul>
                    </div>

                    <div class="col big-map" id="cusco-map"></div>
                </div>

                <div class="row no-gutters">
                    <button class="addLine">Toon wandelroute</button>
                    <button class="removeLine">Verwijder wandelroute</button>
                </div>
            </article>



{% endblock %}
